/* breakpoints */
$xl : 1680px;
$p1500:1500px;
$p1440:1440px;
$p1300:1300px;
$p1250:1250px;
$p1110:1110px;
$p1024:1024px;
$p768:768px;
$p650:650px;
$p520:520px;
$p425:425px;
$p375:375px;
$p320:320px;
